/*
selector {
    propiedad: valor;
    // declaracion //
}
*/

/* selector de TAG */
p {
    text-decoration: underline;
}

/* selector de CLASE */
.my-p {
    font-family: Arial, Helvetica, sans-serif;
}

/* selector de ID */
#texto {
    background-color: yellow;
}

/* Metodologia BEM 
Bloque__elemento--especificador */

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

/* pseudoeclases: Definen el estilo de un estado
*/
.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

/* pseudoelementos: efinen una parte especifica de un elemento. 
*/
.main-nav__item a::after {
    content: " | ";
}