* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 100%;
    height: 100vh;
}

header {
    display: inline-block;
    background-color: bisque;
    width: 100%;
    height: 6vh;
    white-space: nowrap;
}

header .logo {
    display: inline-block;
    height: 60px;
    width: 20%;
}

header nav {
    display: inline-block;
    width: 80%;
    text-align: right;
    padding-right: 1rem;
}

nav .options {
    display: inline;
    list-style: none;
}

nav .options li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.options li {
    display: inline-block;
}

main {
    width: 100%;
    height: 85vh;
    white-space: nowrap;
}

main .left-menu {
    display: inline-block;
    background-color: pink;
    width: 20%;
    height: inherit;
    margin: 0px;
}

.left-menu .card {
    width: 90%;
    height: 15vh;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    margin: auto;
}

#card1 {
    position: relative;
    top: 3%;
}

#card2 {
    position: relative;
    top: 8%;
}

#card3 {
    position: relative;
    top: 13%;
}

#card4 {
    position: relative;
    top: 18%;
}

.card .text {
    top: 45%;
    left: 49%;
}

main .dashboard {
    background-color: chartreuse;
    width: 80%;
    height: inherit;
    margin: 0px;
    float: right;
}

footer {
    background-color: bisque;
    height: 9vh;
}