/* Hermanos Adyacentes: a + b
Todo los elementos 'b' precedidos por un 'a' reciben los estilos 
*/
h2 + p {
    color: red;
}
/* los parrafos sucesores a h2 tendran fuente en rojo */


/* Hermanos Generales: a ~ b
Todo los elementos 'b' que sean hermanos de 'a' recibe los estilos
*/
h2 ~ p {
    text-decoration: underline;
}
/* Los <p> que esten a la misma altura de <h2> seran subrayados */


/* Elementos Hijos: a > b
Todos los elementos 'b' que son hijos directos de 'a'
*/
div > p {
    color: green;
}
/* todos los <p> que tienen como padre un div tendran fuente en color verde */


/* Descendientes: a  b
Todas las etiquetas 'b' que esten dentro de una 'a'
*/
div p {
    text-decoration: overline;
}
/* Todos los <p> que esten dentro de un <div>, no necesariamente su padre directo,
sino un contenedor a niveles mas altos por ejemplo.  */

/* Selector de atributos */
a[title] { 
    color: greenyellow;
}
/* Elementos <a> con un atributo title */

/* Elementos <a> con un href que coincida con "https://example.org" */
a[href="https://example.org"] {
    color: green;
  }
  
  /* Elementos <a> con un href que contenga "example" */
  a[href*="example"] {
    font-size: 2em;
    text-decoration: none;
  }


div .main {
    display: flex;
}

/* pseudo childs */
.main div:first-child {
    font-weight: bold;
/* El primer div dentro de la clase main tendrá fuente en rojo */}

/* pseudo childs */
.main div:nth-child(2n) {
    color: blue;
}
/* Cada 2 elementos div(2, 4, 6) el color sera azul */

/* first-of-type : Primer elmento de un grupo de hermanos */
.main div:first-of-type {
    color: red;
}
/* El primer div dentro de la clase main tendrá fuente en rojo */

/* empty es usado en cualquier elemento sin hijos */
div:empty {
    width: 10px;
    height: 10px;
    background-color: lime;
}
/* Todos los div vacios seran un cuadro verde de 10 x 10 pixeles */

/* pseudoclase de negacion */
p:not(.fancy) {
color: brown;
}
/* La fuente de todos los p que no tengan la clase fancy seran de color café*/